:root {
    --Cyan: hsl(180, 66%, 49%);
    --DarkViolet: hsl(257, 27%, 26%);

    --Red: hsl(0, 87%, 67%);

    --Gray: hsl(0, 0%, 75%);
    --GrayishViolet: hsl(257, 7%, 63%);
    --VeryDarkBlue: hsl(255, 11%, 22%);
    --VeryDarkViolet: hsl(260, 8%, 14%);
}

.body {
    margin: 0 auto;
    background-color: white;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-size: 18px;
}

.lists {
    margin: 0;
    padding: 0;
    list-style: none;
}

.link {
    text-decoration: none;
    color: var(--GrayishViolet);
}

.header {
    margin: 0 auto;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    max-width: 1240px;
}

.header__left {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header__right {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header__lists {
    display: flex;
    gap: 20px;
}

.header__link-register {
    padding: 10px;
    border-radius: 15px;
    background-color: var(--Cyan);
    color: white;
}


.offer {
    margin: 0 auto;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    position: relative;
    padding-bottom: 150px;
    max-width: 1240px;
}

.offer__left {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 550px;
}

.offer__title {
    margin: 0;
    margin-bottom: 30px;
    font-size: 62px;
    font-weight: 700;
}

.offer__subtitle {
    margin: 0;
    margin-bottom: 30px;
    color: var(--GrayishViolet);
}

.offer__link {
    padding: 15px;
    border-radius: 15px;
    color: white;
    background-color: var(--Cyan);
    max-width: 200px;
    text-align: center;
}

.offer__img {
    margin-right: -250px;
}

.shorts {
    margin: 0 auto;
    position: relative;
    max-width: 1240px;
}

.shorts__group {
    background-image: url(../../images/bg-shorten-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--DarkViolet);
    margin: 0 auto;
    margin-top: 50px;
    min-height: 150px;
    border-radius: 20px;
    position: absolute;
    left: 0;
    right: 0;
    top: -114px;
    overflow: auto;
}

.shorts__form {
    padding: 30px;
    display: flex;
    justify-content: center;
    align-self: center;
    gap: 10px;
}

.shorts__input {
    margin: 0;
    padding: 0;
    border: 0;
    padding-left: 30px;
    width: 600px;
    min-height: 50px;
}

.shorts__button {
    padding: 0;
    background-color: var(--Cyan);
    color: white;
    border: transparent;
    width: 200px;
    min-height: 50px;
    cursor: pointer;
}

.shorts__result {
    background-color: #fff;
    padding: 30px;
    display: none;
}


.advanced__container {
    background-color: #eff1f7;
}

.advanced {
    margin: 0 auto;
    max-width: 1240px;
}

.advanced__title {
    margin: 0;
    margin-bottom: 15px;
    padding-top: 300px;
    font-weight: 700;
    text-align: center;
}

.advanced__subtitle {
    margin: 0;
    margin-bottom: 30px;
    font-weight: 500;
    text-align: center;
}

.advanced__cards {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 40px;
}

.advanced__card {
    margin-bottom: 100px;
    padding: 30px;
    background-color: white;
    max-width: 300px;
    min-height: 200px;
    border-radius: 10px;
    position: relative;
}

.advanced__icon {
    margin-left: 30px;
    padding: 20px;
    width: 40px;
    background-color: var(--DarkViolet);
    border-radius: 50px;
    background-position: center;
    background-size: 100px 100px;
    position: absolute;
    top: -30px;
}


.boost {
    background-image: url(../../images/bg-boost-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--DarkViolet);
    min-height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.boost__title {
    margin: 0;
    padding-top: 50px;
    font-size: 48px;
    color: white;
    text-align: center;
}

.boost__link {
    padding: 15px 30px;
    border-radius: 25px;
    color: white;
    background-color: var(--Cyan);
    max-width: 200px;
    text-align: center;
}


.footer__container {
    background-color: var(--VeryDarkViolet);
}

.footer {
    margin: 0 auto;
    padding: 30px 30px;
    display: flex;
    justify-content: space-around;
    max-width: 1240px;
}

.footer__lists {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.footer__lists-block {
    flex-direction: row;
    gap: 25px;
}

.footer__text {
    margin: 0;
    margin-bottom: 20px;
    font-weight: 700;
    color: white;
}