:root {
    --Cyan: hsl(180, 66%, 49%);
    --DarkViolet: hsl(257, 27%, 26%);

    --Red: hsl(0, 87%, 67%);

    --Gray: hsl(0, 0%, 75%);
    --GrayishViolet: hsl(257, 7%, 63%);
    --VeryDarkBlue: hsl(255, 11%, 22%);
    --VeryDarkViolet: hsl(260, 8%, 14%);
}

.body {
    margin: 0 auto;
    background-color: white;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-size: 18px;
    max-width: 1240px;
}

.lists {
    margin: 0;
    padding: 0;
    list-style: none;
}

.link {
    text-decoration: none;
    color: var(--GrayishViolet);
}

.header {
    margin: 0 auto;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.header__left {
    display: flex;
    gap: 20px;
}

.header__lists {
    display: flex;
    gap: 20px;
}

.header__link-register {
    padding: 10px;
    border-radius: 15px;
    background-color: var(--Cyan);
    color: white;
}


.offer {
    margin: 0 auto;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.offer__left {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 550px;
}

.offer__title {
    margin: 0;
    margin-bottom: 30px;
    font-size: 62px;
    font-weight: 700;
}

.offer__subtitle {
    margin: 0;
    margin-bottom: 30px;
    color: var(--GrayishViolet);
}

.offer__link {
    padding: 15px;
    border-radius: 15px;
    color: white;
    background-color: var(--Cyan);
    max-width: 200px;
    text-align: center;
}

.offer__img {
    margin-right: -250px;
}

.shorts {
    /* margin: 0 auto;
    margin-top: 50px;
    max-width: 1240px; */
}

.shorts__group {
    background-image: url(../../images/bg-shorten-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--DarkViolet);
    margin: 0 auto;
    margin-top: 50px;
    min-height: 150px;
    border-radius: 20px;
}

.shorts__form {
    padding: 30px;
    display: flex;
    justify-content: center;
    align-self: center;
    gap: 10px;
}

.shorts__input {
    margin: 0;
    padding: 0;
    border: 0;
    padding-left: 30px;
    width: 600px;
    min-height: 50px;
}

.shorts__button {
    padding: 0;
    background-color: var(--Cyan);
    border: transparent;
    width: 200px;
    min-height: 50px;
    cursor: pointer;
}